
<div id="container" class="ng-cloak container">
  <div ng-view></div>
</div>

<script type="text/ng-template" id="blackscholes.html">
  <h1>Black-Scholes Calculator</h1>
  <form ng-submit="calc()">
    <table>
      <tr>
        <td>Strike Price:</td>
        <td><input ng-model="strike" autofocus /></td>
      </tr>
      <tr>
        <td>Underlying Price:</td>
        <td><input ng-model="underlying"/></td>
      </tr>
      <tr>
        <td>Time to expiration:</td>
        <td><input ng-model="tte"/> (days)</td>
      </tr>
      <tr>
        <td>Interest Rate :</td>
        <td><input ng-model="ir"/> (percent as a whole number)</td>
      </tr>
      <tr>
        <td>Volatility:</td>
        <td><input ng-model="volatility"/> (percent as a whole number)</td>
      </tr>
      <tr>
        <td colspan="2"><hr/></td>
      </tr>

      <tr>
        <td><strong>Call:</strong></td>
        <td>{{call | number:5}}</td>
      </tr>
      <tr>
        <td>delta:</td>
        <td>{{callDelta | number:5}}</td>
      </tr>
      <tr>
        <td>gamma:</td>
        <td>{{callGamma | number:5}}</td>
      </tr>
      <tr>
        <td>vega:</td>
        <td>{{callVega | number:5}}</td>
      </tr>
      <tr>
        <td>theta:</td>
        <td>{{callTheta | number:5}}</td>
      </tr>

      <tr>
        <td colspan="2"><hr/></td>
      </tr>

      <tr>
        <td><strong>Put:</strong></td>
        <td>{{put | number:5}}</td>
      </tr>
      <tr>
        <td>delta:</td>
        <td>{{putDelta | number:5}}</td>
      </tr>
      <tr>
        <td>theta:</td>
        <td>{{putTheta | number:5}}</td>
      </tr>
      <tr>
        <td colspan="2"><hr/></td>
      </tr>

      <tr>
        <td>d1:</td>
        <td>{{d1 | number:5}}</td>
      </tr>
      <tr>
        <td>N1:</td>
        <td>{{N1 | number:5}}</td>
      </tr>
      <tr>
        <td>N1_:</td>
        <td>{{N1_ | number:5}}</td>
      </tr>
      <tr>
        <td>d2:</td>
        <td>{{d2 | number:5}}</td>
      </tr>
      <tr>
        <td>N2:</td>
        <td>{{N2 | number:5}}</td>
      </tr>

      <tr>
        <td></td>
        <td><button>Calculate</button></td>
      </tr>
    </table>
  </form>
</script>


